USE [master]
GO
/****** Object:  Database [mChanelling]    Script Date: 10/25/2014 6:01:41 PM ******/
CREATE DATABASE [mChanelling]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mChanelling', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\mChanelling.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'mChanelling_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\mChanelling_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mChanelling].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mChanelling]
GO
/****** Object:  StoredProcedure [dbo].[GetAllDoctors]    Script Date: 10/25/2014 6:01:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Sampath>
-- Create date: <Create Date,,2014/10/25>
-- Description:	<Description,,GetAllDoctors>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllDoctors]
AS
BEGIN
SELECT [Id]
      ,[FirstName]
      ,[LastName]
      ,[Speciality]
      ,[Mobile]
  FROM [dbo].[Doctor]
END

GO
/****** Object:  StoredProcedure [dbo].[GetAllDoctorsAvailability]    Script Date: 10/25/2014 6:01:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Sampath>
-- Create date: <Create Date,,2014/10/25>
-- Description:	<Description,,Get all Doctors availability>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllDoctorsAvailability] 

AS
BEGIN
	SELECT doc.FirstName , doc.LastName ,s.SpecialityName AS Speciality,h.Name AS HospitalName
	FROM [dbo].[DoctorRegistrations] docReg INNER JOIN [dbo].[Doctor] doc ON (docReg.DoctorId = doc.Id)
		INNER JOIN [dbo].[Hospital] h ON (docReg.HospitalId = h.Id)
		INNER JOIN [dbo].[Speciality] s ON (doc.Speciality = s.Id)
END

GO
/****** Object:  StoredProcedure [dbo].[GetAllHospitals]    Script Date: 10/25/2014 6:01:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Sampath>
-- Create date: <Create Date,,2014/10/23>
-- Description:	<Description,,GetAllHospitals>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllHospitals]
AS
BEGIN
SELECT [Id]
      ,[Name]
      ,[Address1]
      ,[Address2]
      ,[TP]
  FROM [dbo].[Hospital]
END

GO
/****** Object:  StoredProcedure [dbo].[GetAllSpeciality]    Script Date: 10/25/2014 6:01:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Sampath>
-- Create date: <Create Date,,2014/10/23>
-- Description:	<Description,,GetAllSpeciality>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllSpeciality]
AS
BEGIN
SELECT [Id]
      ,[SpecialityName]
  FROM [dbo].[Speciality]
END

GO
/****** Object:  StoredProcedure [dbo].[GetDoctorsByHospitalAndSpeciality]    Script Date: 10/25/2014 6:01:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Sampath>
-- Create date: <Create Date,,2014/10/23>
-- Description:	<Description,,GetDoctorsByHospitalAndSpeciality>
-- =============================================
Create PROCEDURE [dbo].[GetDoctorsByHospitalAndSpeciality] 
@HospitalId int,
@SpecialityId int
AS
BEGIN
	SELECT doc.FirstName , doc.LastName ,s.SpecialityName AS Speciality,h.Name AS HospitalName
	FROM [dbo].[DoctorRegistrations] docReg INNER JOIN [dbo].[Doctor] doc ON (docReg.DoctorId = doc.Id)
		INNER JOIN [dbo].[Hospital] h ON (docReg.HospitalId = h.Id)
		INNER JOIN [dbo].[Speciality] s ON (doc.Speciality = s.Id)
	WHERE docReg.HospitalId = @HospitalId AND
		doc.Speciality = @SpecialityId
END

GO
/****** Object:  StoredProcedure [dbo].[GetDoctorsByHospitalID]    Script Date: 10/25/2014 6:01:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Sampath>
-- Create date: <Create Date,,2014/10/22>
-- Description:	<Description,,GetDoctorsByHospital>
-- =============================================
CREATE PROCEDURE [dbo].[GetDoctorsByHospitalID] 
@HospitalId int
AS
BEGIN
	SELECT doc.FirstName , doc.LastName ,s.SpecialityName AS Speciality,h.Name AS HospitalName
	FROM [dbo].[DoctorRegistrations] docReg INNER JOIN [dbo].[Doctor] doc ON (docReg.DoctorId = doc.Id)
		INNER JOIN [dbo].[Hospital] h ON (docReg.HospitalId = h.Id)
		INNER JOIN [dbo].[Speciality] s ON (doc.Speciality = s.Id)
	WHERE docReg.HospitalId = @HospitalId
END

GO
/****** Object:  StoredProcedure [dbo].[GetDoctorsByNameHsptlSpclty]    Script Date: 10/25/2014 6:01:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Sampath>
-- Create date: <Create Date,,2014/10/23>
-- Description:	<Description,,Get Doctors by Name,Hospital And Speciality>
-- =============================================
CREATE PROCEDURE [dbo].[GetDoctorsByNameHsptlSpclty] 
@HospitalId int,
@SpecialityId int,
@FirstName varchar(50),
@LastName varchar(50)

AS
BEGIN
	SELECT doc.FirstName , doc.LastName ,s.SpecialityName AS Speciality,h.Name AS HospitalName
	FROM [dbo].[DoctorRegistrations] docReg INNER JOIN [dbo].[Doctor] doc ON (docReg.DoctorId = doc.Id)
		INNER JOIN [dbo].[Hospital] h ON (docReg.HospitalId = h.Id)
		INNER JOIN [dbo].[Speciality] s ON (doc.Speciality = s.Id)
	WHERE (@HospitalId IS null OR @HospitalId <1 OR docReg.HospitalId = @HospitalId) AND
		(@SpecialityId IS null OR @SpecialityId <1 OR doc.Speciality = @SpecialityId) AND
		(@FirstName IS null OR (LEN(@FirstName) < 1) OR doc.FirstName = @FirstName) AND
		(@LastName IS null OR (LEN(@LastName) < 1) OR doc.LastName = @LastName)
END

GO
/****** Object:  StoredProcedure [dbo].[GetDoctorsBySpecialityId]    Script Date: 10/25/2014 6:01:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Sampath>
-- Create date: <Create Date,,2014/10/22>
-- Description:	<Description,,GetDoctorsBySpeciality>
-- =============================================
CREATE PROCEDURE [dbo].[GetDoctorsBySpecialityId]
@SpecialityId int
AS
BEGIN
	SELECT doc.FirstName, doc.LastName , s.SpecialityName AS Speciality,h.Name AS HospitalName
	FROM [dbo].[DoctorRegistrations] docReg INNER JOIN [dbo].[Doctor] doc ON (docReg.DoctorId = doc.Id)
		INNER JOIN [dbo].[Hospital] h ON (docReg.HospitalId = h.Id)
		INNER JOIN [dbo].[Speciality] s ON (doc.Speciality = s.Id)
	WHERE doc.Speciality = @SpecialityId
END

GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 10/25/2014 6:01:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[DoctorID] [int] NOT NULL,
	[HospitalId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[SlotNo] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChannelingHours]    Script Date: 10/25/2014 6:01:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChannelingHours](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocRegId] [int] NOT NULL,
	[NoOfSlots] [int] NOT NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
	[Day] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DaysOfWeek]    Script Date: 10/25/2014 6:01:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DaysOfWeek](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Day] [varchar](10) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 10/25/2014 6:01:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Doctor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Speciality] [int] NULL,
	[Mobile] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DoctorRegistrations]    Script Date: 10/25/2014 6:01:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorRegistrations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HospitalId] [int] NOT NULL,
	[DoctorId] [int] NOT NULL,
	[Charge] [decimal](18, 0) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hospital]    Script Date: 10/25/2014 6:01:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Hospital](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Address1] [varchar](100) NULL,
	[Address2] [varchar](100) NULL,
	[TP] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 10/25/2014 6:01:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Patient](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Mobile] [varchar](50) NOT NULL,
	[NIC] [varchar](10) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Speciality]    Script Date: 10/25/2014 6:01:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Speciality](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SpecialityName] [varchar](100) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ChannelingHours] ON 

INSERT [dbo].[ChannelingHours] ([Id], [DocRegId], [NoOfSlots], [StartTime], [EndTime], [Day]) VALUES (1, 1, 20, CAST(0x070050CFDF960000 AS Time), CAST(0x07002058A3A70000 AS Time), 1)
INSERT [dbo].[ChannelingHours] ([Id], [DocRegId], [NoOfSlots], [StartTime], [EndTime], [Day]) VALUES (2, 1, 10, CAST(0x0700E80A7E8E0000 AS Time), CAST(0x070050CFDF960000 AS Time), 2)
INSERT [dbo].[ChannelingHours] ([Id], [DocRegId], [NoOfSlots], [StartTime], [EndTime], [Day]) VALUES (3, 1, 20, CAST(0x070050CFDF960000 AS Time), CAST(0x07002058A3A70000 AS Time), 3)
SET IDENTITY_INSERT [dbo].[ChannelingHours] OFF
SET IDENTITY_INSERT [dbo].[DaysOfWeek] ON 

INSERT [dbo].[DaysOfWeek] ([Id], [Day]) VALUES (1, N'Sunday')
INSERT [dbo].[DaysOfWeek] ([Id], [Day]) VALUES (2, N'Monday')
INSERT [dbo].[DaysOfWeek] ([Id], [Day]) VALUES (3, N'Tuesday')
SET IDENTITY_INSERT [dbo].[DaysOfWeek] OFF
SET IDENTITY_INSERT [dbo].[Doctor] ON 

INSERT [dbo].[Doctor] ([Id], [FirstName], [LastName], [Speciality], [Mobile]) VALUES (1, N'AJITH', N'FERNANDO', 1, N'0123456789')
INSERT [dbo].[Doctor] ([Id], [FirstName], [LastName], [Speciality], [Mobile]) VALUES (2, N'AJITH', N'RAJAPAKSHA', 2, N'0123456789')
INSERT [dbo].[Doctor] ([Id], [FirstName], [LastName], [Speciality], [Mobile]) VALUES (3, N'ASELA', N'AMARASIRI', 1, N'0123456789')
SET IDENTITY_INSERT [dbo].[Doctor] OFF
SET IDENTITY_INSERT [dbo].[DoctorRegistrations] ON 

INSERT [dbo].[DoctorRegistrations] ([Id], [HospitalId], [DoctorId], [Charge]) VALUES (1, 2, 1, CAST(800 AS Decimal(18, 0)))
INSERT [dbo].[DoctorRegistrations] ([Id], [HospitalId], [DoctorId], [Charge]) VALUES (2, 2, 5, CAST(1000 AS Decimal(18, 0)))
INSERT [dbo].[DoctorRegistrations] ([Id], [HospitalId], [DoctorId], [Charge]) VALUES (3, 3, 1, CAST(700 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[DoctorRegistrations] OFF
SET IDENTITY_INSERT [dbo].[Hospital] ON 

INSERT [dbo].[Hospital] ([Id], [Name], [Address1], [Address2], [TP]) VALUES (2, N'Nawaloka Hospital', NULL, NULL, N'01123456789')
INSERT [dbo].[Hospital] ([Id], [Name], [Address1], [Address2], [TP]) VALUES (3, N'Durdans Hospital', NULL, NULL, N'01124563987')
INSERT [dbo].[Hospital] ([Id], [Name], [Address1], [Address2], [TP]) VALUES (4, N'Asiri Hospital', NULL, NULL, N'01142536987')
SET IDENTITY_INSERT [dbo].[Hospital] OFF
SET IDENTITY_INSERT [dbo].[Speciality] ON 

INSERT [dbo].[Speciality] ([Id], [SpecialityName]) VALUES (1, N'GYNAECOLOGIST')
INSERT [dbo].[Speciality] ([Id], [SpecialityName]) VALUES (2, N'CARDIOLOGIST ')
INSERT [dbo].[Speciality] ([Id], [SpecialityName]) VALUES (3, N'DERMATOLOGIST ')
SET IDENTITY_INSERT [dbo].[Speciality] OFF
USE [master]
GO
